.menu-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: auto;
}


.menu-img-wrapper {
    /* border: 1px solid white; */

    width: 500px;
    height: 230px;

    margin-top: 3%;

    margin-left: 37%;
}


.menu-img-wrapper img {  
    width: 100%;
    height: auto;
} 

.menu-para {
    /* border: 1px solid red; */
    
    max-width: 600px;

    margin-top: 150px;
}