.homewrapper {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    /* margin-top: 50px; */

    background-image: url('../../docsFolder/trolly.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    /* width: 100%; */
    height: 97.3vmin;

}

.home-img {
    /* border: 2px solid yellow; */

    width: 400px;
    height: 230px;

    margin-top: 3%;
}

.home-img img {  
    width: 100%;
    height: auto;
}

img {
    border-radius: 7px;
}