.homewrapper {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    margin-top: 50px;

}

.home-img {
    /* border: 2px solid yellow; */

    width: 400px;
    height: 230px;

    margin-top: 3%;
}

.home-img img {  
    width: 100%;
    height: auto;
}

img {
    border-radius: 7px;
}