.location-wrapper {

    display: flex;
    flex-direction: column;
    
    width: fit-content;

    margin-left: 35%;
    margin-top: 70px;

    /* border:1px solid red; */
}

.city-wrapper {
    border: 1px solid #0a161d63;
    border-radius: 7px;
    background-color: #ececec;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    height: inherit;
    width: 538px;

    padding: 10px;
    margin-left: 5px;
}

.location-para {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 275px;

    font-size: 1rem;

    margin: 5px;   
}

.map-wrapper {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;

}

.map-wrapper {
    /* border: 1px solid blue; */

    align-self: center;
    
    margin-top: 15px;
}

.map-location {
    /* border: 1px solid blue; */

    height: inherit;
    width: 150px;
}