.location-wrapper {
    height: 97.3vim;

    margin-top: 60px;
}

.south-city-para {
    display: flex;
    flex-direction: column;

    font-size: 1rem;
}

.location {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;

}

.map-location {
    /* border: 1px solid blue; */

    align-self: center;
    
    margin-top: 15px;
}