.sauce-wrapper {
    /* border: 1px solid blue; */

    max-height: 90%;
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.sauce-para {
    /* border: 1px solid red; */

    max-width: 700px;

    line-height: 1.5;

    align-self: center;

    /* margin-bottom: ; */
}