.sauce-wrapper {
    /* border: 1px solid blue; */
    /* border: 1px solid blue; */
    margin-top: 20px;
    margin-left: 32.5%;

    border: 1px solid #0a161d63;
    border-radius: 7px;
    background-color: #ececec;

    height: 350px;
    width: 550px;

    padding: 10px;
}


.sauce-para {
    /* border: 1px solid red; */

    max-width: 700px;

    line-height: 1.5;

    align-self: center;

    /* margin-bottom: ; */
}