.nav-wrapper {
    /* border: 1px solid red; */

    background-color: #3dac57;

    height: 80px;

    padding-top: 5px;
}


.nav-brand-img {
    /* border: 1px solid red; */

    border-radius: 1.2;

    height: 70px;
    width: auto;
}