.cta-wrapper {
    border: 1px solid blue;
    /* background-color: whitesmoke; */

    width: 550px;
    height: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.cta-link-wrapper {
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: inherit;

    margin-top: 25px;
}


.cta-route-wrapper {
    /* border: 1px solid red; */

    width: inherit;

    margin-bottom: 150px;
}

.cta-links {
    /* border: 1px solid red; */
    text-decoration: none;
    color: #34495E;
}

.location-title {
    font-size: 1.12rem;
    font-weight: bold;
}
