.cta-wrapper {
    /* border: 1px solid blue; */

    width: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.cta-link-wrapper {
    /* border: 1px solid black; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: inherit;

    margin-top: 25px;
}


.cta-route-wrapper {
    /* border: 1px solid red; */

    width: inherit;

    margin-bottom: 150px;
}