.location-wrapper {
    height: auto;

    /* border: 1px solid red; */
}

.city-wrapper {
    border: 1px solid #0a161d63;
    border-radius: 7px;
    background-color: #ececec;

    height: auto;
    width: 538px;

    padding: 10px;
}

.south-city-para {
    display: flex;
    flex-direction: column;

    font-size: 1rem;

    margin: 5px;   
}

.location {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;

}

.map-location {
    /* border: 1px solid blue; */

    align-self: center;
    
    margin-top: 15px;
}