.order-online-wrapper {
    border: 1px solid #0a161d63;
    border-radius: 7px;
    background-color: #ececec;

    height: 350px;
    width: 550px;

    margin-top: 20px;
    padding: 10px;
}

.order-online-para {
    margin: 5px;   
    max-width: 545px; 
}